In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn import datasets
df = pd.read_csv("boston_data.csv")

In [2]:
df.head()

      crim    zn  indus  chas    nox  ...    tax  ptratio   black  lstat  medv
0  0.15876   0.0  10.81   0.0  0.413  ...  305.0     19.2  376.94   9.88  21.7
1  0.10328  25.0   5.13   0.0  0.453  ...  284.0     19.7  396.90   9.22  19.6
2  0.34940   0.0   9.90   0.0  0.544  ...  304.0     18.4  396.24   9.97  20.3
3  2.73397   0.0  19.58   0.0  0.871  ...  403.0     14.7  351.85  21.45  15.4
4  0.04337  21.0   5.64   0.0  0.439  ...  243.0     16.8  393.97   9.43  20.5

[5 rows x 14 columns]

In [ ]:
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [ ]:
from pandas_profiling import ProfileReport

In [3]:
df.head()

      crim    zn  indus  chas    nox  ...    tax  ptratio   black  lstat  medv
0  0.15876   0.0  10.81   0.0  0.413  ...  305.0     19.2  376.94   9.88  21.7
1  0.10328  25.0   5.13   0.0  0.453  ...  284.0     19.7  396.90   9.22  19.6
2  0.34940   0.0   9.90   0.0  0.544  ...  304.0     18.4  396.24   9.97  20.3
3  2.73397   0.0  19.58   0.0  0.871  ...  403.0     14.7  351.85  21.45  15.4
4  0.04337  21.0   5.64   0.0  0.439  ...  243.0     16.8  393.97   9.43  20.5

[5 rows x 14 columns]

In [ ]:
profile = ProfileReport(df)

In [ ]:
profile

In [4]:
df.shape

(404, 14)

In [ ]:
df.head()

      crim    zn  indus  chas    nox  ...    tax  ptratio   black  lstat  medv
0  0.15876   0.0  10.81   0.0  0.413  ...  305.0     19.2  376.94   9.88  21.7
1  0.10328  25.0   5.13   0.0  0.453  ...  284.0     19.7  396.90   9.22  19.6
2  0.34940   0.0   9.90   0.0  0.544  ...  304.0     18.4  396.24   9.97  20.3
3  2.73397   0.0  19.58   0.0  0.871  ...  403.0     14.7  351.85  21.45  15.4
4  0.04337  21.0   5.64   0.0  0.439  ...  243.0     16.8  393.97   9.43  20.5

[5 rows x 14 columns]

In [ ]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [ ]:
df.keys()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [6]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(50,50))
sns.pairplot(df)

plt.show()

In [5]:
X = df.drop(['medv'],axis = 1)
X.head()

      crim    zn  indus  chas    nox  ...  rad    tax  ptratio   black  lstat
0  0.15876   0.0  10.81   0.0  0.413  ...  4.0  305.0     19.2  376.94   9.88
1  0.10328  25.0   5.13   0.0  0.453  ...  8.0  284.0     19.7  396.90   9.22
2  0.34940   0.0   9.90   0.0  0.544  ...  4.0  304.0     18.4  396.24   9.97
3  2.73397   0.0  19.58   0.0  0.871  ...  5.0  403.0     14.7  351.85  21.45
4  0.04337  21.0   5.64   0.0  0.439  ...  4.0  243.0     16.8  393.97   9.43

[5 rows x 13 columns]

In [6]:
y = df.medv
y

0      21.7
1      19.6
2      20.3
3      15.4
4      20.5
       ...
399    14.1
400    15.0
401    50.0
402    24.7
403    23.7
Name: medv, Length: 404, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.24)

In [8]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor()
reg.fit(X_train,y_train)

RandomForestRegressor()

In [11]:
prediction = reg.predict(X_test)
prediction

array([32.50100563, 21.7388244 ,  2.83575722, 23.66564353, 17.57215887,
       16.79160998, 24.38584183, 22.19408947, 21.15630141, 28.48939356,
       23.27144549, 13.86006066, 14.00633833, 37.74557565, 22.98117524,
       24.93953075,  5.90186205, 17.46509026, 15.99175772, 15.5184534 ,
       13.77667166, 29.38426452, 32.1196005 , 19.12477888, 19.73729907,
       11.88030081, 25.87051871, 24.98097504,  8.28272154, 24.29237787,
       22.37392936, 14.10837535, 16.42755052, 32.07571408, 30.02543425,
       28.85717553, 29.976567  , 15.31566091, 31.80672555, 22.24577024,
       28.11871085, 25.10794661, 23.74444477,  8.82812728, 29.39406844,
       23.39786679, 25.13686212, 19.08840079, 19.14817582, 29.5997199 ,
       21.10615339, 26.92435658, 21.22242737, 28.53803213, 19.87107461,
       28.31259532, 24.8509768 , 23.35586104, 19.75549656, 39.87437779,
       22.85756105, 21.94460805,  7.86402758, 18.42871897, 19.27141133,
       29.97290359, 19.41068725,  6.82974735, 25.8584467 , 33.62816658,
       16.13040303, 28.04255652, 18.57656038, 30.78014742, 28.88142038,
       31.49519468, 34.37643478, 16.5972035 , 24.21096304, 34.61414004,
       16.14526989, 23.96834015, 22.31096281, 21.72468223,  7.44026222,
       16.54858222, 13.38598429, 26.73469805, 17.61412168, 16.41840306,
       27.5178269 , 30.46515402, 28.53074544, 11.40591277, 25.4147217 ,
       24.01431838, 42.51636656])

In [9]:
reg.score(X_test,y_test)

0.8404420003619903

In [ ]:
df_test = pd.read_csv("boston_test_data.csv")
df_test

In [10]:
qq=reg.predict([[0.15876,	0,	10.81,	0.0	,0.413,	5.961	,17.5	,5.2873,	4.0	,305.0,	19.2,	376.94,	9.88]])
round(qq[0],5)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

21.645

In [11]:
import pickle
# open a file, where you ant to store the data


# dump information to that file
pickle.dump(reg,open('RandomForest_regression_model.pkl','wb'))
df2=pickle.load(open('RandomForest_regression_model.pkl','rb'))

In [ ]:
df2.predict([[0.15876,	0,	10.81,	0.0	,0.413,	5.961	,17.5	,5.2873,	4.0	,305.0,	19.2,	376.94,	9.88]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([21.67883387])